<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card Id={{posts[3].mal_id}} photoCover="{{posts[3].images.jpg.image_url}}" cardTitle={{posts[3].title}}
      cardDescription={{posts[3].synopsis}}>
    </app-big-card>
  </div>

  <div class="articles__others">

    <div *ngFor="let post of posts.slice(0, 3)">

      <app-small-card Id={{post.mal_id}} photoCover="{{post.images.jpg.image_url}}" cardTitle={{post.title}}>
      </app-small-card>

    </div>

  </div>
</div>